@media screen and (max-width:570px){
    .FoodPhoto{
        display: none;
    }    
}
@media screen and (max-width:250px){
    p{
        font-size: 11pt;
        text-align: center;
    }
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 13pt;
    }
    main{
        line-height: 110%;    
    }
    ol{
        font-size: 11pt;
    }
    .definition_cont{
    text-align: center;
    }
    .mailLink{
        font-size: 9pt;
    }
}