@media screen and (max-width:570px){
    .FoodPhoto{
        display: none;
    }    
}
@media screen and (max-width:379px){
    footer{
        font-size: 16pt;
    }
}
@media screen and (max-width:239px){
    p{
        font-size: 9pt;
        text-align: center;
    }
    h1{
        font-size: 15pt;
    }
    h2{
        font-size: 13pt;
    }
    h3{
        font-size: 12pt;
    }
    main{
        line-height: 110%;    
    }
    ol{
        font-size: 9pt;
    }
    .definition_cont{
    text-align: center;
    }
    footer{
        font-size: 6pt;
    }
}